@media screen and (max-width:900px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #000000;
    }

    .header .logo img {
        max-width: 190px;
    } 

    .main {
        flex-direction: column-reverse;
        max-width: 400px;
        margin: 0 auto;
    }

    .main .personagens {
        margin-top: 37px;
    }

    .main .personagens .titulo {
        font-size: 15px;
    }

    .main .lista-de-personagens {
        gap: 9px;
    }

    .main .personagens .personagem img {
        width: 80px;
    }

    .personagem-selecionado .personagem-grande {
        width: 350px;
        height: 350px;
    }

    .personagem-selecionado .descricao-personagem {
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}